main {
    width: 100%;
    height: auto;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    
    to {
        transform: rotate(360deg);
    }
}

.loading {
    width: 100px;
    height: 100px;
    border: 5px solid #1111d8;
    border-top: 5px solid #fc3816;

    /* border-top-color: blue; */
    /* border: 3px solid rgb(208, 17, 17); */
    border-radius: 50%;
    animation-name: spin;
    animation-duration: 1.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    margin: 50px auto;
    /* animation-delay: 2s; */
}